# The following command works for downloading when using Git for Windows:
# curl -LOf http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore
#
# Download this file using PowerShell v3 under Windows with the following comand:
# Invoke-WebRequest https://gist.githubusercontent.com/kmorcinek/2710267/raw/ -OutFile .gitignore
#
# or wget:
# wget --no-check-certificate http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore

# User-specific files
exercise1/api/*.suo
exercise1/api/*.user
exercise1/api/*.sln.docstates

# Build results
exercise1/api/[Dd]ebug/
exercise1/api/[Rr]elease/
exercise1/api/x64/
exercise1/api/[Bb]in/
exercise1/api/[Oo]bj/

exercise1/StargateTests/[Dd]ebug/
exercise1/StargateTests/[Rr]elease/
exercise1/StargateTests/x64/
exercise1/StargateTests/[Bb]in/
exercise1/StargateTests/[Oo]bj/
# build folder is nowadays used for build scripts and should not be ignored
#build/

# NuGet Packages
exercise1/api/*.nupkg
# The packages folder can be ignored because of Package Restore
exercise1/api/**/packages/*
# except build/, which is used as an MSBuild target.
exercise1/api/!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# MSTest test Results
exercise1/api/[Tt]est[Rr]esult*/
exercise1/api/[Bb]uild[Ll]og.*

exercise1/api/*_i.c
exercise1/api/*_p.c
exercise1/api/*.ilk
exercise1/api/*.meta
exercise1/api/*.obj
exercise1/api/*.pch
exercise1/api/*.pdb
exercise1/api/*.pgc
exercise1/api/*.pgd
exercise1/api/*.rsp
exercise1/api/*.sbr
exercise1/api/*.tlb
exercise1/api/*.tli
exercise1/api/*.tlh
exercise1/api/*.tmp
exercise1/api/*.tmp_proj
exercise1/api/*.log
exercise1/api/*.vspscc
exercise1/api/*.vssscc
exercise1/api/.builds
exercise1/api/*.pidb
exercise1/api/*.scc

# Visual C++ cache files
exercise1/api/ipch/
exercise1/api/*.aps
exercise1/api/*.ncb
exercise1/api/*.opensdf
exercise1/api/*.sdf
exercise1/api/*.cachefile

# Visual Studio profiler
exercise1/api/*.psess
exercise1/api/*.vsp
exercise1/api/*.vspx

# Guidance Automation Toolkit
exercise1/api/*.gpState

# ReSharper is a .NET coding add-in
exercise1/api/_ReSharper*/
exercise1/api/*.[Rr]e[Ss]harper

# TeamCity is a build add-in
exercise1/api/_TeamCity*

# DotCover is a Code Coverage Tool
exercise1/api/*.dotCover

# NCrunch
exercise1/api/*.ncrunch*
exercise1/api/.*crunch*.local.xml

# Installshield output folder
exercise1/api/[Ee]xpress/

# DocProject is a documentation generator add-in
exercise1/api/DocProject/buildhelp/
exercise1/api/DocProject/Help/*.HxT
exercise1/api/DocProject/Help/*.HxC
exercise1/api/DocProject/Help/*.hhc
exercise1/api/DocProject/Help/*.hhk
exercise1/api/DocProject/Help/*.hhp
exercise1/api/DocProject/Help/Html2
exercise1/api/DocProject/Help/html

# Click-Once directory
exercise1/api/publish/

# Publish Web Output
exercise1/api/*.Publish.xml

# Windows Azure Build Output
exercise1/api/csx
exercise1/api/*.build.csdef

# Windows Store app package directory
exercise1/api/AppPackages/

# Others
exercise1/api/*.Cache
exercise1/api/ClientBin/
exercise1/api/[Ss]tyle[Cc]op.*
exercise1/api/~$*
exercise1/api/*~
exercise1/api/*.dbmdl
exercise1/api/*.[Pp]ublish.xml
exercise1/api/*.pfx
exercise1/api/*.publishsettings
exercise1/api/modulesbin/
exercise1/api/tempbin/

# EPiServer Site file (VPP)
exercise1/api/AppData/

# RIA/Silverlight projects
exercise1/api/Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
exercise1/api/_UpgradeReport_Files/
exercise1/api/Backup*/
exercise1/api/UpgradeLog*.XML
exercise1/api/UpgradeLog*.htm

# vim
exercise1/api/*.txt~
exercise1/api/*.swp
exercise1/api/*.swo

# Temp files when opening LibreOffice on ubuntu
exercise1/api/.~lock.*

# svn
exercise1/api/.svn

# CVS - Source Control
exercise1/api/**/CVS/

# Remainings from resolving conflicts in Source Control
exercise1/api/*.orig

# SQL Server files
exercise1/api/**/App_Data/*.mdf
exercise1/api/**/App_Data/*.ldf
exercise1/api/**/App_Data/*.sdf


#LightSwitch generated files
exercise1/api/GeneratedArtifacts/
exercise1/api/_Pvt_Extensions/
exercise1/api/ModelManifest.xml

# =========================
# Windows detritus
# =========================

# Windows image file caches
exercise1/api/Thumbs.db
exercise1/api/ehthumbs.db

# Folder config file
exercise1/api/Desktop.ini

# Recycle Bin used on file shares
exercise1/api/$RECYCLE.BIN/

# OS generated files #
exercise1/api/Icon?

# Mac desktop service store files
exercise1/api/.DS_Store
# SASS Compiler cache
exercise1/api/.sass-cache
# Visual Studio 2014 CTP
exercise1/api/**/*.sln.ide
# Visual Studio temp something
.vs/

# dotnet stuff
exercise1/api/project.lock.json

# VS 2015+
exercise1/api/*.vc.vc.opendb
exercise1/api/*.vc.db

# Rider
exercise1/api/.idea/

# Visual Studio Code
exercise1/api/.vscode/

# Output folder used by Webpack or other FE stuff
exercise1/api/**/node_modules/*
exercise1/api/**/wwwroot/*

# SpecFlow specific
exercise1/api/*.feature.cs
exercise1/api/*.feature.xlsx.*
exercise1/api/*.Specs_*.html

# UWP Projects
exercise1/api/AppPackages/

#####
# End of core ignore list, below put you custom 'per project' settings (patterns or path)
#####